<div style="width: 100%;
  height: 60px;
  text-align: center;
  border-bottom: 5px solid darkslategray;
  padding-top: 17px;">

  <button
    class="btn"
    routerLink="/welcome"
    routerLinkActive="btn-primary"
    [routerLinkActiveOptions]="{exact:true}">Home
  </button>
  <button
    class="btn"
    routerLink="/movies"
    routerLinkActive="btn-primary"
    [routerLinkActiveOptions]="{exact:true}">
    Movies
  </button>
  <button
    class="btn"
    routerLink="/movies/vata"
    routerLinkActive="btn-primary"
    [routerLinkActiveOptions]="{exact:true}">
    MoviesId
  </button>
  <button class="btn" routerLink="/gallery" routerLinkActive="btn-primary">Gallery</button>
  <button class="btn" routerLink="/login" routerLinkActive="btn-primary">Login</button>
  <button class="btn" routerLink="/vata" routerLinkActive="btn-primary">Vata</button>
</div>
